@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    text-decoration: none;
    color: unset;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #FAFAFA;
}


.line, .other {
    border: 1.5px solid #FECA07;
}

.line {
    margin: 15px 0;
}

.uppercase {
    text-transform: uppercase;
}


main {
    display: flex;
}

#left-part {
    flex: .5;
    position: relative;
    background-color: #FBC02D;
}

.left-title {
    color: #FBC02D;
    background-color: #212121;
    text-align: center;
    padding: 5px 0;
}

.profil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.profil-picture {
    width: 50%;
    border-radius: 50%;
    margin-top: 20px;
}

.contact p {
    margin: 0;
    font-weight: 600;
}

.contact .container div {
    margin: 20px;
}

.contact .container a:hover {
    color: #fffde7;
    border-bottom: 1px solid #fffde7;
    transition: .3s;
    font-size: 1.1rem;
}

.about p {
    width: 70%;
    text-align: justify;
    margin: auto;
}

.hoobies {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 20px;
}

.hoobies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hoobies-container i {
    border: 1px solid black;
    border-radius: 50px;
    padding: 20px;
    font-size: 100%;
}

.hoobies-container i:hover {
    border-color: #FAFAFA;
    color: #FAFAFA;
    transition: .3s;
    cursor: pointer;
    font-size: 1.7rem;
}

#right-part {
    flex: 1.5;

}

#right-part h1,
#right-part h2,
#right-part h4,
#right-part p {
    margin: 0;
}

.right-size {
    width: 80%;
    margin: 50px auto;
}

#right-part header {
    margin-bottom: 120px;
}

#right-part i {
    color: #FECA07;
}

header h1 {
    font-size: 2.2rem;
    font-weight: 500;

}

header h1 span {
    color: #FECA07;
}

header p {
    font-weight: 600;
    margin-top: 8px !important;
}

.other {
    width: 8%;
    margin-top: 5px;
}

.right-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.formation, .experience{
    margin-bottom: 60px;
}



.right-title i {
    color: #FECA07;
    font-size: 1.5rem;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.content .left {
    display: flex;
    align-items: baseline;
    gap: 10px;
    flex: 1;
}

.content .right {
    flex: 1;
}

.recommandation div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8rem;
}

.recommandation-content :not(p:nth-child(4)){
 font-weight: 600;
}